@font-face {
    font-family: 'Exo Bold';
    src: url('../fonts/Exo-Bold.woff2') format('woff2'),
        url('../fonts/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Exo Regular';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
