// Imports
@import "_variable";
@import "_reset";
@import "_type";
@import "_global";

// Custom CSS
.header{
  background: #3f3f3e;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0;
  font-size: 20px;
  color: white;
  button{
    display: none;
  }
  nav{
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-transform: uppercase;
      width: 100%;
      font-family: $bold;
      li{
        a{
          color: white;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          &:hover{
            transform: scale(105%);
            transition: all 0.5s ease-in-out;
          }
          &:before{
            margin-right: 8px;
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: white;
          }
          &.red{
            &:before{
              background-color: #c94955;
            }
          }
          &.yellow{
            &:before{
              background-color: #e4c051;
            }
          }
          &.green{
            &:before{
              background-color: #94bc5e;
            }
          }
          &.blue{
            &:before{
              background-color: #6fb3e6;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width: 1200px){
    font-size: 16px;
    padding: 12px 0;
  }
  @media screen and(max-width: 990px) {
    padding: 15px 15px;
    button{
      display: block;
      background: white;
      padding: 0 4px;
      span{
        color: #3f3f3e;
      }
    }      
    ul{
      gap: 15px;
      padding-top: 20px !important;
      li{
        display: block;
        width: 100%;
      }
    }
  }
}

.main{

  // CONCEITO
  .conceito{
    background-image: url(../images/conexao.png);
    background-repeat: no-repeat;
    background-position: 50% calc(100% + 75px);
    padding: 125px 0 45px 0;
    position: relative;

    .first-line{
      display: flex;
      justify-content: space-between;
      h2{
        font-size: 56px;
        line-height: 0.89;
        color: #444242;
        margin-bottom: 24px;
      }
      p{
        font-family: $bold;
        font-size: 24px;
        color: #444242;
        margin-bottom: 0;
        strong{
          background: #e6c151;
          color: white;
          padding: 4px 6px 2px 6px;
          margin-left: 4px;
        }
      }
      h1{
        font-size: 0;
        width: fit-content;
      }
    }
    .people{
      display: inline-flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 475px;
      justify-content: center;
      align-items: center;
      background-image: url(../images/globo.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    @media screen and (max-width: 990px){
      padding: 105px 0 35px 0;
    }
    @media screen and (max-width: 768px) {
      background: none;
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/conexao.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.4;
      }
      .first-line{
        display: block;
        margin-bottom: 20px;
        h2{
          font-size: 42px;
        }
        p{
          font-size: 20px;
          margin-bottom: 20px;
        }
        h1{
          img{
            width: 100%;
          }
        }
      }
      .people{
        background: none;
        height: auto;
        li{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  // ABOUT
  .about{
    background: #d5d5d5;
    display: flex;
    justify-content: center;
    .countrys{
      text-transform: uppercase;
      display: inline-flex;
      white-space: nowrap;
      padding: 16px 0;
      .call{
        font-family: $bold;
        margin-right: 20px;
      }
      .country-list{
        display: inline-flex;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 16px;
        list-style-type: none;
        font-size: 16px;
        li{
          &:before{
            content: '•';
            margin-right: 16px;
          }
          &:first-child{
            &::before{
              display: none;
            }
          }
        }
      }
  
    }
    @media screen and (max-width: 1260px) {
      .countrys{
        padding: 15px;
        overflow-x: scroll;
        scrollbar-width: auto;
        scrollbar-color: #5c5c5c #ffffff;
      
        /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #5c5c5c;
          border-radius: 8px;
          border: 2px solid #ffffff;
        }
        .country-list{
          li{
            &:last-child{
              padding-right: 15px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px){
      .countrys{
        &::-webkit-scrollbar {
          display: none;
        }
        &::-webkit-scrollbar-track {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          display: none;
        }
        .country-list{
          li{
            &:last-child{
              padding-right: 15px;
            }
          }
        }
      }
    }
  }

  // WORLD
  .world{
    padding: 32px 0 0 0;
    .map{
      display: flex;
      align-items: center;
      width: 100%;
      gap: 16px;
      img{
        width: 100%;
        max-width: 730px;
      }
      p{
        width: 436px;
        font-size: 18px;
        line-height: 2;
        text-align: left;
        color: #444242;
      }
    }
    @media screen and (max-width: 1100px) {
      .map{
        display: block;
        padding: 0 15px;
        img{
          width: 100%;
          margin: 0 auto;
          display: block;
        }
        p{
          width: 100%;
          max-width: 436px;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
      }
    }
  }
  

  // COMPLIANCE
  .compliance{
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      gap: 36px;
      justify-content: center;
      width: 100%;
      li{
        width: 215px;
        height: 360px;
        background: #dbdee2;
        position: relative;
        padding: 30px 0;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        &:hover{
          background-size: 120%;
          transition: all 0.5s ease-in-out;
        }
        span{
          position: absolute;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: $bold;
          color: white;
          transform: rotate(-90deg);
          padding: 2px 3px 1px 3px;
          text-align: center;
          width: 205px;
          border-radius: 15px;
        }
        p{
          font-size: 16px;
          font-family: $medium;
          line-height: 1.33;  text-align: right;
          color: #444242;
        }
        &.one{
          background-image: url('../images/arquitetura.png');
          background-position: bottom;
          span{
            background: #c94954;
            right: -89px;
            top: 46px;
          }
          p{
            margin-right: 55px;
          }
        }
        &.two{
          background-image: url('../images/tecnologia.png');
          background-position: top;
          span{
            background: #6fb3e6;
            left: -89px;
            bottom: 40px;
          }
          p{
            margin-left: 55px;
            text-align: left;
            margin-top: 155px;
          }
        }
        &.three{
          background-image: url('../images/meioambiente.png');
          background-position: bottom;
          span{
            background: #94bc5e;
            left: -89px;
            top: 46px;
          }
          p{
            text-align: left;
            margin-left: 55px;
          }
        }
        &.four{
          background-image: url('../images/pessoas.png');
          background-position: top;
          span{
            background: #e4c051;
            left: -89px;
            bottom: 40px;
          }
          p{
            margin-left: 55px;
            text-align: left;
            margin-top: 195px;
          }
        }
      }
      @media screen and (max-width: 990px) {
        display: block;
        margin-top: 50px;
        li{
          margin: 0 auto 60px auto;
          &.three{
            span{
              right: -89px;
              left: initial;
            }
            p{
              text-align: right;
              margin-left: 0;
              margin-right: 55px;
            }
          }
          
        }  
      }
    }
  }
}