// Imports
@import "_variable";
@import "_reset";
@import "_type";
@import "_global";

// Custom CSS
.header{
  background: #3f3f3e;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0;
  font-size: 20px;
  color: white;
  button{
    display: none;
  }
  nav{
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-transform: uppercase;
      width: 100%;
      font-family: $bold;
      li{
        a{
          color: white;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          &:hover{
            transform: scale(105%);
            transition: all 0.5s ease-in-out;
          }
          &:before{
            margin-right: 8px;
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: white;
          }
          &.red{
            &:before{
              background-color: #c94955;
            }
          }
          &.yellow{
            &:before{
              background-color: #e4c051;
            }
          }
          &.green{
            &:before{
              background-color: #94bc5e;
            }
          }
          &.blue{
            &:before{
              background-color: #6fb3e6;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width: 1200px){
    font-size: 16px;
    padding: 12px 0;
  }
  @media screen and(max-width: 990px) {
    padding: 15px 15px;
    position: fixed;
    button{
      display: block;
      background: white;
      padding: 0 4px;
      span{
        color: #3f3f3e;
      }
    }      
    ul{
      gap: 15px;
      padding-top: 20px !important;
      li{
        display: block;
        width: 100%;
      }
    }
  }
}

.main{

  // CONCEITO
  .conceito{
    background-image: url(../images/conexao.png);
    background-repeat: no-repeat;
    background-position: 50% calc(100% + 75px);
    padding: 75px 0 45px 0;
    position: relative;

    .first-line{
      display: flex;
      justify-content: space-between;
      h2{
        font-size: 56px;
        line-height: 0.89;
        color: #444242;
        margin-bottom: 24px;
      }
      p{
        font-family: $bold;
        font-size: 24px;
        color: #444242;
        margin-bottom: 0;
        strong{
          background: #e6c151;
          color: white;
          padding: 4px 6px 2px 6px;
          margin-left: 4px;
        }
      }
      h1{
        font-size: 0;
        width: fit-content;
      }
    }
    .people{
      display: inline-flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 475px;
      justify-content: center;
      align-items: center;
      background-image: url(../images/globo.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    @media screen and (max-width: 990px){
      padding: 105px 0 35px 0;
    }
    @media screen and (max-width: 768px) {
      background: none;
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/conexao.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.4;
      }
      .first-line{
        display: block;
        margin-bottom: 20px;
        h2{
          font-size: 42px;
        }
        p{
          font-size: 20px;
          margin-bottom: 20px;
        }
        h1{
          img{
            width: 100%;
          }
        }
      }
      .people{
        background: none;
        height: auto;
        li{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  // ABOUT
  .about{
    background: #d5d5d5;
    display: flex;
    justify-content: center;
    .countrys{
      text-transform: uppercase;
      display: inline-flex;
      white-space: nowrap;
      padding: 16px 0;
      .call{
        font-family: $bold;
        margin-right: 20px;
      }
      .country-list{
        display: inline-flex;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 16px;
        list-style-type: none;
        font-size: 16px;
        li{
          &:before{
            content: '•';
            margin-right: 16px;
          }
          &:first-child{
            &::before{
              display: none;
            }
          }
        }
      }
  
    }
    @media screen and (max-width: 1260px) {
      .countrys{
        padding: 15px;
        overflow-x: scroll;
        scrollbar-width: auto;
        scrollbar-color: #5c5c5c #ffffff;
      
        /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #ffffff;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #5c5c5c;
          border-radius: 8px;
          border: 2px solid #ffffff;
        }
        .country-list{
          li{
            &:last-child{
              padding-right: 15px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px){
      .countrys{
        &::-webkit-scrollbar {
          display: none;
        }
        &::-webkit-scrollbar-track {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          display: none;
        }
        .country-list{
          li{
            &:last-child{
              padding-right: 15px;
            }
          }
        }
      }
    }
  }

  // WORLD
  .world{
    padding: 32px 0 0 0;
    .map{
      display: flex;
      align-items: center;
      width: 100%;
      gap: 16px;
      img{
        width: 100%;
        max-width: 730px;
      }
      p{
        width: 436px;
        font-size: 18px;
        line-height: 2;
        text-align: left;
        color: #444242;
      }
    }
    @media screen and (max-width: 1100px) {
      .map{
        display: block;
        padding: 0 15px;
        img{
          width: 100%;
          margin: 0 auto;
          display: block;
        }
        p{
          width: 100%;
          max-width: 436px;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
      }
    }
  }
  
  // COMPLIANCE
  .compliance{
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      gap: 36px;
      justify-content: center;
      width: 100%;
      li{
        width: 215px;
        height: 360px;
        background: #dbdee2;
        position: relative;
        padding: 30px 0;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        &:hover{
          background-size: 120%;
          transition: all 0.5s ease-in-out;
        }
        span{
          position: absolute;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: $bold;
          color: white;
          transform: rotate(-90deg);
          padding: 2px 3px 1px 3px;
          text-align: center;
          width: 205px;
          border-radius: 15px;
        }
        p{
          font-size: 16px;
          font-family: $medium;
          line-height: 1.33;  text-align: right;
          color: #444242;
        }
        &.one{
          background-image: url('../images/arquitetura.png');
          background-position: bottom;
          span{
            background: #e62e41;
            right: -89px;
            top: 46px;
          }
          p{
            margin-right: 55px;
          }
        }
        &.two{
          background-image: url('../images/tecnologia.png');
          background-position: top;
          span{
            background: #5cb9ea;
            left: -89px;
            bottom: 40px;
          }
          p{
            margin-left: 55px;
            text-align: left;
            margin-top: 155px;
          }
        }
        &.three{
          background-image: url('../images/meioambiente.png');
          background-position: bottom;
          span{
            background: #6cc05d;
            left: -89px;
            top: 46px;
          }
          p{
            text-align: left;
            margin-left: 55px;
          }
        }
        &.four{
          background-image: url('../images/pessoas.png');
          background-position: top;
          span{
            background: #f3c03f;
            left: -89px;
            bottom: 40px;
          }
          p{
            margin-left: 55px;
            text-align: left;
            margin-top: 195px;
          }
        }
      }
      @media screen and (max-width: 990px) {
        display: block;
        margin-top: 50px;
        li{
          margin: 0 auto 60px auto;
          &.three{
            span{
              right: -89px;
              left: initial;
            }
            p{
              text-align: right;
              margin-left: 0;
              margin-right: 55px;
            }
          }
          
        }  
      }
    }
  }

  // VIDEOS
  .videos{
    padding-top: 110px;
    padding-bottom: 150px;
    background-image: url('../images/conexao-element.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    h2{
      display: block;
      width: 100%;
      text-align: center;
      font-size: 36px;
      font-family: $bold;
      line-height: 1.45;
      color: #000;
      padding: 0;
      margin: 0 0 72px 0;
    }
    ul{
      display: flex;
      gap: 48px;
      list-style-type: none;
      padding: 0;
      li{
        width: 100%;
        height: 300px;
        border-radius: 18px;
        box-shadow: 3px 4px 32px 4px rgba(65, 65, 65, 0.18);
        background-color: rgba(255,255,255,0.75);
        a{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    @media screen and (max-width: 468px) {
      padding-bottom: 80px;
      ul{
        li{
          height: 150px;
        }
      }
    }
  }

  // DESCUBRA
  .descubra{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    @media screen and(max-width: 990px) {
      display: block;
      text-align: center;
      h2{
        text-align: center !important;
      }
      .paragraphs{
        max-width: 600px;
        margin: 0 auto;
        p{
          &:first-child{
            margin-bottom: 20px !important;
          }
        }
      }
    }
    h2{
      text-align: right;
    }
    .paragraphs{
      max-width: 600px;
      p{
        &:first-child{
          margin-bottom: 50px;
        }
      }
    }
  }

  // LIFESTYLE
  .lifestyle{
    justify-content: center;
    display: flex;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 16px;
      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 640px) {
        grid-template-columns: 1fr;
      }
      li{
        width: 250px;
        height: 485px;
        padding: 225px 16px 16px 16px;
        text-align: center;
        color: white;
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.5s ease-in-out;
        background-position: top;
        &:hover{
          background-size: 120%;
          transition: all 0.5s ease-in-out;
        }

        h2{
          text-transform: capitalize;
          font-size: 24px;
          line-height: 2;
          letter-spacing: 0.17px;
        }
        p{
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.5px;
        }
        &:nth-child(1){
          background-color: #e62e41;
          background-image: url('../images/recreacao.png');
        }
        &:nth-child(2){
          background-color: #5cb9ea;
          background-image: url('../images/planetapp.png');
        }
        &:nth-child(3){
          background-color: #6cc05d;
          background-image: url('../images/vidaverde.png');
        }
        &:nth-child(4){
          background-color: #f3c03f;
          background-image: url('../images/gestor.png');
        }
      }
    }
  }
}

.footer{
  padding-top: 60px;
  padding-bottom: 136px;
  .patrocinadores-list{
    justify-content: center;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: 990px) {
      display: block;
      div{
        margin-bottom:50px;
      }
    }
    div{
      display: flex;
      flex-direction: column;
      span{
        width: 100%;
        font-family: $bold;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 15px;
        text-align: center;
      }
      img{
        width: fit-content;
        margin: auto;
      }
    }
  }
  p{
    font-size: 12px;
    text-align: center;
  }
}

.fixed-bar{
  width: 100%;
  height: 100px;
  background: #3f3f3e;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
    align-items: center;
  ul{
    display: flex;
    gap: 10px;
    color: white;
    margin-bottom: 0;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    
    li{
      position: relative;
      display: flex;
      align-items: center;
      @media screen and (max-width: 990px) {
        a{
          font-size: 0  !important;
          span{
            font-size: 0 !important;
          }
        }
        &:first-child{
          display: none;
        }
        &:after{
          display: none !important;
        }
      }
      &:after{
        content: "";
        width: 2px;
        height: 38px;
        background: white;
        display: inline-block;
        position: absolute;
        right: -35px;
        top: auto;
        bottom: auto;
      }
      a{
        font-family: $bold;
        font-size: 20px;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 24px;
        letter-spacing: 1px;
        margin-bottom: 0;
        color: white;
        cursor: pointer;
        transition: all .3s linear;
        letter-spacing: 1px;
        img{
          margin-right: 20px;
        }
        &:hover{
          text-decoration: none;
          transform: scale(1.1);
        }
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &:nth-child(2){
        span, strong{
          width: 100%;
          display: block;
        }
        span{
          font-size: 14px;
          font-family: $regular;
        }
      }
    }
  }
}

.modal-edit{
  label, input, textarea{
    display: block;
    width: 100%;
  }
  label{
    font-size: 12px;
  }
  input{
    padding: 3px;
    font-size: 16px;
  }
  .btn-primary{
    display: block;
    width: 100%;
  }
  .choice{
    font-size: 18px;
  }
  .radios{
    display:flex;
    align-items: center;
    input{
      width: fit-content;
      margin-right: 15px;
      font-size: 20px;
    }
    label{
      font-size: 18px;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
  .check{
    display: flex;
    align-items: center;
    label{
      margin-bottom: 0;
      font-size: 16px;
      cursor: pointer;
    }
    input{
      width: fit-content;
      margin-right: 10px;
      width: 18px;
      height: 18px;
    }
  }
}